.Settings-container {
    text-align: center;
    padding-bottom: 2px;
    font-size: 1rem;
}

.Settings-label {
    padding: 5px 5px;
}

.Options-select {
    border-radius: 0px;
    background: #01868f;
    font-size: .9rem;
    color: #ffffff;
    border: none;
    font-family: monospace;
}

.Options-select:focus  {
    outline-color: #e77330;
}

.Options-select:hover  {
    cursor: pointer;
}

.Restart-button {
    font-size: .9rem;
    padding: 5px 10px;
    margin: 12px 10px;
    background: #01868f;
    outline: none;
    color: #ffffff;
    border: none;
    font-family: monospace;
}

.Restart-button:hover {
    cursor: pointer;
    transform: scale(1.01);
}