@import './components/header.css';
@import './components/scores.css';
@import './components/message.css';
@import './components/settings.css';
@import './components/board.css';
@import './components/square.css';

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 100%;
}


