@import './components/header.css';
@import './components/scores.css';
@import './components/message.css';
@import './components/settings.css';
@import './components/board.css';

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #310000;
  color: #ffffff;
}

.Square {
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
  width: 98px;
}

